mat-form-field ,
textarea{
    width: 100%;
}
mat-spinner{
    margin: auto
}

input[type="file"]{
    visibility: hidden;
}

.imagePreview{
    height: 5 rem;
    margin: 1 rem 0;
}

.image-preview img {
    height: 100%
}