<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form  *ngIf="!isLoading" (submit)="onLogin(LoginForm)" #LoginForm="ngForm" >
        <mat-form-field>
            <input matInput type="email" placeholder="Email Address" #emailInput="ngModel" name="email" ngModel required email>
            <mat-error *ngIf="!emailInput.valid">
                Please enter a valid email.
            </mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input type="password" name="password" matInput placeholder="password" #passwordInput="ngModel" ngModel required>
            <mat-error *ngIf="!passwordInput.valid">
                Please enter a Valid Password.
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Login</button>
    </form>
</mat-card>